.mainContainer {
    flex: 1;
    height: 100vh;
    padding: 50px;
}

.navigationPanel {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    border-radius: 10px;
    width: 100%;
    background-color: #E0E0E0;
}

.myButton {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    margin: 0 10px;
    background: #fff;
    border-radius: 7px;
    outline: none;
    border: none;
}

.myButton:active {
    background: #B0B0B0;
}

